.content {
	background-color: rgba(255, 255, 255, 0.6);
	text-indent: 20;
	border-radius: 20px 5px 20px 5px;
	border-style: solid;
	border-color: white;
}
.b_content {
	background-color: rgba(255, 255, 255, 0.6);
	text-indent: 20;
	border-radius: 20px 5px 20px 5px;
}
body{
   width:500px;
   height:500px;
   }
